@page
@model TestSurvey.Presentation.Pages.IndexModel
@{
    Layout = "_Layout";
}

<div class="text-center">
    <h1>Welcome</h1>
    <p>This is a meaningless survey to understand how to build a multi‑page survey in Razor. Thank you for participating.</p>
    <a class="btn btn-primary" asp-page="/Page1">Start Survey</a>
</div>
